@use "../foundation/variables" as v;

.p-blog-archive {
	margin-top: 58px;
	.c-inner{
		@include v.mq(lg){
			padding-left: 5%;
			padding-right: 5%;
		}
	}
  .c-info__blog {
    margin-top: 60px;
    &__item {
      height: fit-content;
      height: 180px;
			@include v.mq(lg){
				height: auto;
				max-width: 500px;
				margin-left: auto;
				margin-right: auto;
			}
    }
    &__item + li {
      margin-top: 93px;
			@include v.mq(lg){
				margin-top: 48px;
			}
    }
    &__image {
      width: 240px;
			@include v.mq(lg){
				width: 100%;
			}
    }
		&__text-block{
			@include v.mq(lg){
				padding-top: 4px;
			}
		}
    &__title {
      height: 76px;
      font-size: 2.6rem;
      line-height: 1.5;
    }
    &__desc {
      margin-top: 10px;
      height: 48px;
      overflow: hidden;
    }
  }
  .c-pagination {
    margin-top: 106px;
  }
}
