@use "../foundation/variables" as v;

.l-intro {
  background-color: v.$main-primary;
  color: v.$color-white;
  padding-top: 52px;
  padding-bottom: 54px;
}

.p-intro__sympathy {
  &__contents {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 61%;
    margin-top: 45px;
    margin-left: auto;
    margin-right: auto;
    @include v.mq(lg) {
      display: block;
			margin-top: 32px;
    }
  }
  &__item {
    line-height: 2;
    text-align: center;
    @include v.mq(lg) {
      text-align: center;
    }
  }
}

.p-intro__sympathy__heading {
  color: v.$color-white;
}

.p-intro__intro {
  margin-top: 84px;
  padding: 13px 23px;
  background-color: v.$color-white;
  &__inner {
    outline: v.$main-primary 5px solid;
    padding: 9px 0;
		padding-top: 9px;
		padding-bottom: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__heading {
    position: relative;
		line-height: 1.4;
  }
  &__heading span::after {
    z-index: -1;
    content: "";
    position: absolute;
    bottom: 12px;
    display: block;
    height: 9px;
    width: 84%;
    background-color: v.$main-secondary;
  }
  &__desc {
    text-align: center;
    margin-top: 25px;
    color: v.$main-primary;
		letter-spacing: .12em;
		line-height: 1.8;
    @include v.mq(lg) {
      text-align: justify;
      padding-left: 5%;
      padding-right: 5%;
    }
  }
}
