@use "../foundation/variables" as v;

.c-breadcrumbs{
	background-color: v.$color-pale-gray;
	height: 50px;
	@include v.mq(lg){
		padding-left: 5%;
		padding-right: 5%;
	}
}

.c-breadcrumbs__list{
	height: inherit;
	display: flex;
	align-items: center;
}

.c-breadcrumbs__item + li{
	&::before{
		content: '＞';
	}
}
