@use "../foundation/variables" as v;

.c-breadcrumbs{
	background-color: v.$color-pale-gray;
	height: auto;
	min-height: 50px;
	padding-top: 1%;
	padding-bottom: 1%;
	@include v.mq(lg){
		padding-left: 5%;
		padding-right: 5%;
	}
}

.c-breadcrumbs__list.c-inner{
	height: inherit;
	display: flex;
	align-items: center;
}

.c-breadcrumbs__item + li{
	&::before{
		content: '＞';
	}
}
