@use "../foundation/variables" as v;

.c-inner {
  max-width: 1280px;
  width: 70.7%;
  margin-left: auto;
  margin-right: auto;
  // padding-bottom: 90px;
  @include v.mq(lg) {
    width: 100%;
  }
}
