@use "../foundation/variables" as v;

.c-section {
  padding-top: 90px;
  &__title {
    position: relative;
    font-weight: bold;
    font-size: 3.6rem;
    @include v.mq(lg) {
      font-size: 2.8rem;
    }
    text-align: center;
    color: v.$main-primary;
    width: fit-content;
    margin-right: auto;
    margin-left: auto;
    @include v.mq(lg) {
      // margin-bottom: 38px;
    }
  }
}

.c-subpage-mv .c-section__title{
	color: v.$color-white;
}

.c-section__title--subpage{
	margin-top: 58px;
	@include v.mq(lg){
		margin-top: 0;
	}
}
